@charset "UTF-8";
/* CSS Document */

div.gallery img {
  	height: 200px;
  	width: 100%;
  	object-fit: cover;
}

.gallery {
    display: inline-block;
    float: left;
    width: 33%;
}

@media screen and (max-width:800px) {
  .gallery, .responsive, .button-container {
    width:100%;
  }
}