@charset "UTF-8";
/* CSS Document */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'News Cycle', sans-serif;
}
h2, h3, h4, p {
    margin-left: 20px;
}
.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #C2C699 0%, #5B7534 100%);
    padding-bottom: 10px;
}
.navbar-toggle {
    padding: 13px;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 18px;
}
.main-nav {
    list-style-type: none;
}
.nav-links, .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.main-nav li {
    margin: 15px auto;
    margin-left: 26px;
}
.logo {
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
}
.main-nav {
    list-style-type: none;
    display: none;
}
.active {
    display: block; 
}
.map-container {
    position: relative;
    width: 100%;
}
.map-container img {
    margin-top: 20px;
    width: 100%;
    height: auto;
}
.column {
    float: left;
    width: 33.3%;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 8px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
label {
    padding: 12px 12px 12px -1;
    display: inline-block;
    margin-top: 20px;
}
input[type=submit] {
    background-color: #75345b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
input[type=submit]:hover {
    background-color: #8f5c7b;
}
.form-container {
    background-color: #C2C699;
    padding: 20px;
    max-width: 600px;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.footer-container {
	margin-top: 50px;
	padding: 20px;
    height: 200px;
    background-color: #c2c699;
    background-image: linear-gradient(#c2c699, #5B7534)
}
.footer-logo {
    font-size: 20px;
    color: #5B7534;
}

@media screen and (min-width: 768px) {
.btn {
    display: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
}
.main-nav {
    display: flex;
    margin-right: 20px;
    flex-direction: row;
    justify-content: flex-end;
}
.main-nav li {
    margin: 0;
}
.nav-links {
    margin-left: 70px;
}
.logo {
    margin-top: 0;
}
.navbar-toggle {
    display: none;
}
.logo:hover, .nav-links:hover {
    color: #75345b;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
}

@media screen and (max-width: 768px) {
.map-container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #75345b;
    color: #C2C699;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.map-container .btn:hover {
    background-color: #8f5c7b;
}
.column {
    width: 100%;
    display: block;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container {
    padding: 0 16px;
}
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
.col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
}
}
