@charset "UTF-8";
/* CSS Document */

 @media only screen and (min-width: 768px) {
 @media only screen and (min-width: 992px) {

body {
	font-family: 'Cutive Mono', monospace;
}
h1, h2 {
	letter-spacing: 1px;
	background-color: lightpink;
}
h1 {
	letter-spacing: 1px;
	background-color: lightpink;
	line-height: 20px;
	font-size: 40px;
	font-weight: bolder;
	font-style: italic;
}
h2 {
	letter-spacing: 1px;
	line-height: 20px;
	font-size: 30px;
}
p {
	line-height: 20px;
	font-size: 20px;
	columns: 100px 2;
}
p::first-letter {
	font-size: 30px;
	font-family: cursive;
}
p::first-line {
	background-color: palegoldenrod;
}
